body {

    background: url('../imgs/background\ 1.png') no-repeat;
    background-size: cover;
    font-family: 'Roboto';
    font-style: normal;
    color: #FFFFFF;

}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.conteiner {
    max-width: 1030px;
    margin: 0 auto;
}

.header_nav_info {
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 61px;
    margin-top: 46px;
    margin-bottom: 17px;
    position: relative;
}



.header_nav_info_titel_link {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    color: #FFFFFF;
    max-width: 180px;
    

}

.header_nav_info_titel_img_orang {
    position: absolute;
    left: 0;
    bottom: 4px;
    opacity: 0;
top: 4px;
}

.header_nav_info_titel_img {
    position: absolute;
    left: 0;
    top: 4px;

}


.header_nav_info_titel_text_items_milan {
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    padding-left: 61px;
    padding-top: 5px;
   
    
}

.header_nav_info_titel_text_item_holidays {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    padding-left: 61px;
    padding-bottom: 5px;
   
    
}

.header_nav_info_box {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    font-size: 18px;
    line-height: 18px;
    font-size: 400;
}

.header_nav_info_mail_box_items_mail {
    padding-bottom: 19px
}

.main_content {
    max-height: 560px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 37px 64px;
    position: relative;
}

.main_content_box1 {
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;

}

.main_content_box2 {
    grid-column: 2/3;
    grid-row: 1/2;
    position: relative;
}

.main_content_box3 {
    grid-column: 3/4;
    grid-row: 1/2;
    position: relative;
}

.main_content_box4 {
    grid-column: 1/2;
    grid-row: 2/3;
    position: relative;
}

.main_content_box5 {
    grid-column: 2/3;
    grid-row: 2/3;
    position: relative;
}

.main_content_box6 {
    grid-column: 3/4;
    grid-row: 2/3;
    position: relative;
}

.main_content_box_imgs {
    width: 300px;
    height: 220px;
    border: 2px solid;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(0, 0, 0, 0) 100%);
    border-image-source: linear-gradient(180deg, #FFFFFF 0%, rgba(0, 0, 0, 0) 100%);
    box-shadow: 0px 4px 4px 0px #00000040;

}

.img_box {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.main_content_box_text {
    display: block;
    text-align: center;
    padding-top: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.footer_info {
    padding: 48px 0px 15px 0px;
}

.footer_info_text {
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}

.conteiner_information {
    background: #F26522;
    width: 300px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    top: 220px;
    opacity:0;
    -webkit-transition: opacity, top 800ms ease 5ms;
    -moz-transition: opacity, top 800ms ease 5ms;
    -o-transition: opacity, top 800ms ease 5ms;
}

.conteiner_information_div {
    padding: 7px 0px 12px 16px;

}

.conteiner_information_from {
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    padding-bottom: 8px;
}

.conteiner_information_price {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.conteiner_price_information_link {
    padding: 29px 37px 12px 0px;

}

.conteiner_price_information_detals {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    

}

.conteiner_price_information_detals::after {
    content: "";
    border: 1px solid #FFFFFF;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 13px;
    -o-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

}

.header_nav_info_titel:hover .hover_img_orange {
    color: #F26522;
    z-index: 1;
    opacity: 1;
}

.header_nav_info_titel:hover .hover_img_wite {
    opacity: 0;
}

.header_nav_info_mail_box_items_mail_link:hover {
    color: #F26522;
}

.box_hover:hover .main_content_box_text {
    color: #F26522;
}

.box_hover:hover .conteiner_information {
    opacity: 1;
    top: 165px;
}